body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    --bs-border-width: none;
}
/*Home navbar*/
 .nav-link .nav-link{
   font: 16px bold sans-serif;
   margin-top: 3px;
   border-bottom: 4px solid black;
   padding-bottom: 4px;
 }
 .nav-tabs{
   font-family: 'Roboto', sans-serif;
   border-bottom: 0.1px solid black;
 }
 .nav-tabs .nav-link.active{
   color: black;
   font: 17px bold sans-serif;
   margin-top: 3px;
   border-bottom: 4px solid black;
   padding-bottom: 3px;
   font-family: 'Roboto', sans-serif;
 }
 .nav-link{
   width: inherit;
   margin-right: 120px;
   margin-left: 10px;
   padding: 1px;
 }